#contacts {
    color: #000000;
    background-color: #fcf8f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 8vh; 
    gap: 8vw;
    padding: 4% 8%;
}
#contacts h1 {
    font-size: 3.2vw;
    font-weight: 800;
    margin: 0 0 4vh 0;
}
#contacts p {
    font-size: 1.6vw;
    font-weight: 400;  
    margin: 0 0 1vh 0; 
}
#contacts a {
    color: #000000;
    font-size: 1.6vw;
    text-decoration: none;
    font-weight: 200;
}
@media (hover: hover) {
    #contacts a:hover {
        text-decoration: underline;
    }
}
#contacts iframe {
    box-shadow: 0 0 1vh rgba(0,0,0,0.3);
    border-radius: 1vh;
    height: 24vw;
    width: 40vw;
}
#contacts div {
    display: grid;
    justify-items: center;
}
#contacts div a {
    font-size: 1.6vw;
    font-weight: 200;  
    margin: 1vh 0 0 0; 
}
#iframe-desktop {
    display: block;
}
#iframe-mobile {
    display: none;
}
@media (max-width: 600px){
    #contacts {
        color: #000000;
        background-color: #fcf8f2;
        display: grid;
        justify-items: center;
        align-items: center;
        scroll-margin-top: 8vh; 
        gap: 4vw;
        padding: 4% 8%;
    }
    #contacts h1 {
        font-size: 6vw;
        font-weight: 800;
        text-align: center;
        margin: 0 0 2vh 0;
    }
    #contacts p {
        font-size: 3.6vw;
        font-weight: 400;  
        margin: 0 0 1.6vh 0; 
    }
    #contacts a {
        color: #000000;
        font-size: 4vw;
        text-decoration: underline;
        font-weight: 200;
    }
    #contacts iframe {
        src: "https://yandex.ru/map-widget/v1/?from=maps&ll=30.312516%2C59.936132&mode=whatshere&tilt=0.8726646259971648&whatshere%5Bpoint%5D=30.312383%2C59.936074&whatshere%5Bzoom%5D=17&z=18.88";
        box-shadow: 0 0 1vh rgba(0,0,0,0.3);
        border-radius: 1vh;
        height: 48vw;
        width: 80vw;
    }
    #contacts div a {
        font-size: 4vw;
        font-weight: 200;  
        margin: 1vh 0 0 0; 
    }
    #iframe-desktop {
    display: none;
}
    #iframe-mobile {
        display: block;
    }
}